%% -*- erlang -*-
%% vim: set filetype=erlang:
{sub_dirs, [ "apps/widgy" ]}.

{lib_dirs, [ "apps/widgy" ]}.

{dialyzer_opts, [{plt, "~/.rebar_dialyzer_plt"},
                 {warnings, []},
                 {from, byte_code}]}.

{erl_opts, [warn_missing_spec,
            %%return_warnings,
            debug_info,
            {i, "src"}
           ]}.

{deps, [
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
        {mochijson2, "0.*", {git, "git://github.com/bjnortier/mochijson2.git", {branch, "master"}}},
        {lhttpc, "1.2.6", {git, "git://github.com/esl/lhttpc.git", "master"}},
        {mustache, ".*", {git, "git://github.com/mojombo/mustache.erl.git", "master"}}
       ]}.
