%% -*- erlang -*-
%% vim: set filetype=erlang:
{sub_dirs, [ "apps/widgy" ]}.

{lib_dirs, [ "apps/widgy" ]}.

{dialyzer_opts, [{plt, "~/.rebar_dialyzer_plt"},
                 {warnings, []},
                 {from, byte_code}]}.

{erl_opts, [warn_missing_spec,
            %%return_warnings,
            debug_info,
            {i, "src"}
           ]}.

{deps, [
        {misultin, "0.*", {git, "git://github.com/ostinelli/misultin.git", {branch, "dev"}}},
        {mochijson2, "0.*", {git, "git://github.com/bjnortier/mochijson2.git", {branch, "master"}}}
       ]}.
